<section class="container">
  <div class="books-toolbar">
    <div class="search">
      <input type="text" class="form-control" name="search" placeholder="Search Books by Book Name" [(ngModel)]="bookName" />
      <button class="btn" (click)="getBooks()">Search</button>
    </div>

    <div class="pagination">
      <app-pagination [totalPages]="totalPageCount" (page)="getBooks($event)"></app-pagination>
    </div>
  </div>

  <div class="books-container">
    <ng-container *ngIf="!showLoader">
        <app-book class="book-item" *ngFor="let book of books" [book]="book"></app-book>
    </ng-container>

    <app-loader *ngIf="showLoader"></app-loader>
  </div>
</section>


